html{
  background-color: dimgray;
}

.mega{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.container{
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.container .pontuacao {
  display: flex;
  flex: 1;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: rgba(105, 105, 105, 0.9);
  border: 2px solid black;
  border-radius: 10px;
  margin-top: 2%;
}

.container .pontuacao p img {
  width: 35px;
}

.container .pontuacao #x,#old,#o{
  display: flex;
  text-align: center;
  padding: 10px;
  flex-direction: column;
  font-size: 25px;
  color: aliceblue;
}

.container .pontuacao #old{
  border-right: 2px solid black;
  border-left: 2px solid black;
}

.container-game .tabuleiro{
  list-style: none;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 2px;
  background-color: rgba(105, 105, 105, 0.7);
  margin-top: 10%;
}

.container-game .tabuleiro .espaco{
  width: 80px;
  height: 80px;
  border: 2px solid black;
  float: left;
  cursor: pointer;
}

.container-game .tabuleiro .espaco:hover{
  border: 2px solid rgba(0, 0, 0, 0.3);
}

.container-game .tabuleiro .espaco img{
  width: 100%;
}

.New{
  margin-top: 10px;
    border: 0px;
    border-radius: 4px;
    height: 50px;
    padding: 5px;
    font-size: 16px;
    background-color: #df4723;
    font-weight: bold;
    color: white;
    cursor: pointer;
    transition: .2s;
    margin-bottom: -5px;
}

.New:hover{
  border-radius: 20px;
}

.turn{
  font-size: 25px;
  margin-top: 10px;
  background-color: rgba(105, 105, 105, 1);
  padding: 5px;
  border: 2px solid black;
}

.player{
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(105, 105, 105, 0.9);
  height: 50px;
  border: 2px solid black;
  margin-top: 50px;
}

.player img{
  width: 30px;
  margin-left: 5px;
}

.link a{
  background-color: darkslategrey;
  color: aliceblue;
  padding: 10px;
  font-size: 15px;
  border: 2px solid black;
  transition: .2s;
}

.link a:hover{
  border-radius: 20px;
}

.waitingPlayer{
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.8);
}

.waitingPlayer p{
  color: aliceblue;
}

@media (max-Width: 1050px){
  .container .pontuacao p img {
    width: 35px;
  }
  .player{
    margin-top: 15px;
    width: 50%;
  }
  .container .pontuacao #x,#old,#o{
    padding: 10px;
    font-size: 25px;
  }
  .container-game .tabuleiro{
      max-height: 50%;
  }
  .container-game .tabuleiro .espaco{
      width: 100px;
      height: 100px;
  }
}