html{
  background-color: dimgray;
}

.container{
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.container .pontuacao {
  display: flex;
  flex: 1;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.container .pontuacao p img {
  width: 30px;
}

.container .pontuacao #x,#old,#o{
  display: flex;
  text-align: center;
  padding: 10px;
  flex-direction: column;
  font-size: 20px;
  color: aliceblue;
}

.container .pontuacao #old{
  border-right: 2px solid black;
  border-left: 2px solid black;
}

.container-game .tabuleiro{
  list-style: none;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 2px;
  margin-top: 50px;
}

.container-game .tabuleiro .espaco{
  width: 80px;
  height: 80px;
  border: 2px solid black;
  float: left;
  cursor: pointer;
}

.container-game .tabuleiro .espaco:hover{
  border: 2px solid rgba(0, 0, 0, 0.3);
}

.container-game .tabuleiro .espaco img{
  width: 100%;
}

.New{
  padding: 10px;
  cursor: pointer;
  background-color: darkslategrey;
  color: aliceblue;
  padding: 2px;
  font-size: 15px;
  border: 2px solid black;
  transition: .2s;
}

.New:hover{
  border-radius: 20px;
}

.turn{
  font-size: 20px;
  margin-bottom: -20px;
}

.player{
  font-size: 20px;
  padding: 10px;
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
}

.player img{
  width: 30px;
  margin-left: 5px;
}

.link a{
  background-color: darkslategrey;
  color: aliceblue;
  padding: 10px;
  font-size: 15px;
  border: 2px solid black;
  transition: .2s;
}

.link a:hover{
  border-radius: 20px;
}

.waitingPlayer{
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.8);
}

.waitingPlayer p{
  color: aliceblue;
}

@media (max-Width: 1050px){
  .container .pontuacao p img {
    width: 40px;
  }
  .container .pontuacao #x,#old,#o{
    padding: 10px;
    font-size: 30px;
  }
  .container-game .tabuleiro{
      max-height: 50%;
  }
  .container-game .tabuleiro .espaco{
      width: 100px;
      height: 100px;
  }
}